/* RateAppointment.css */

/* Style for the rate appointment modal */
.rate-appointment-modal {
    padding: 20px;
}

/* Style for the card header in the rate appointment modal */
.card-header {
    background-color: purple;
    height: 70px;
    padding: 11px;
    color: white;
}

/* Style for the comment input field */
.comment-field {
    margin-top: 10px;
}

/* Style for the rating warning message */
.rating-warning {
    color: red;
    margin-top: 10px;
}

.rate-appointment-modal {
    width: 90%; /* Set width to 90% of the screen width */
    max-width: 400px; /* Set a maximum width to limit the modal's size */
    margin: auto; /* Center the modal horizontally */
    padding: 20px; /* Add padding for internal spacing */
    position: relative; /* Required for centered alignment */
    top: 50%; /* Position the modal in the center vertically */
    transform: translateY(-50%); /* Align the modal vertically to the center */
}